@using WebApplication10.EF
@using WebApplication10.EntityModels

@model StudentPrikazVM

@{
    ViewData["Title"] = "Prikaz";
 //  Layout = null;
}


<h1>Prikaz</h1>

<button type="button" onclick="window.location='/Student/Uredi'" class="btn btn-primary">Dodaj JS</button>
<a href="/Student/Uredi" class="btn btn-primary">Dodaj HTML</a>

<form>
    <input name="q" value="@Model.q"/>
    <input type="submit" value="Trazi" />
</form>



<table class="table table-hover">
    <thead>
    <tr>
        <th>ID</th>
        <th>BrojIndeksa</th>
        <th>Ime</th>
        <th>Prezime</th>
        <th>OpstinaPrebivalista</th>
        <th>OpstinaRodjenja</th>
        <th>Akcija</th>
    </tr>
    </thead>
    <tbody>

    @foreach (StudentPrikazVM.Row s in Model.studenti)
    {
        <tr>
            <td>@s.ID</td>
            <td>@s.BrojIndeksa</td>
            <td>@s.Ime</td>
            <td>@s.Prezime</td>
            <td>@s.OpstinaRodjenja</td>
            <td>@s.OpstinaPrebivalista</td>
            <td>
                <a href="/Student/Uredi?StudentID=@s.ID">Uredi</a>
                <a href="/Student/Obrisi?StudentID=@s.ID">Obrisi</a>
                <button onclick="OcjenePrikaz(@s.ID)">Ocjene</button>
                <button onclick="PrisutvoNaNastaviPrikaz(@s.ID)">PrisutvoNaNastvi</button>
            </td>
        </tr>
    }


    </tbody>


</table>

<div id="ajaxPrikaz" style="border: 1px solid red">
    Aaa test
</div>


<script>
    function PrisutvoNaNastaviPrikaz(StudentID) {

        var url = "/PrisustvoNaNastavi/Prikaz?StudentID=" + StudentID;

        $.get(url, function(d) {
            $("#ajaxPrikaz").html(d);
        });

    }
    function PrisutvoNaNastaviUredi(PrisustvoNaNastaviID) {

        alert("Potrebno implementirati. PrisustvoNaNastaviID = " + PrisustvoNaNastaviID);

    }

    function OcjenePrikaz(StudentID) {

        var url = "/Ocjene/Prikaz?StudentID=" + StudentID;
      
        var zahtjev = new XMLHttpRequest();
        zahtjev.onload = function () {
            if (zahtjev.status === 200) {
                document.getElementById("ajaxPrikaz").innerHTML =  zahtjev.responseText;
            } else {

            }
        };

        zahtjev.open("GET", url, true);
        zahtjev.send();
    }


    function OcjeneUredi(OcjenaID) {

        var url = "/Ocjene/Uredi?OcjenaID=" + OcjenaID;

        $.get(url, function(d) {

            $("#ajaxPrikaz").html(d);
        });
    }


    function OcjeneSnimi() {
        var form = $("#OcjenaForma");
        var url = "/Ocjene/Snimi";
        $.ajax({
            type: "POST",
            url: url,
            data: form.serialize(),
            success: function (data) {
                $("#ajaxPrikaz").html(data);
            }
        });
        alert("Uspjeno snimljeno");
    }
</script>

